{{!< sidebar}}

<main id="uh-main" role="main">
	{{#foreach posts}}
		<article class="uh-post-tile" role="article" itemscope itemtype="http://schema.org/Article">
			<a href="{{url}}">
				<div class="uh-post-header" style="background-image: url({{image}})">
					<div class="uh-post-info">
						<div class="uh-post-info-container">
							<time class="uh-post-date" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">
								{{date format='MMM DD, YYYY'}}
							</time>
							<h1 class="uh-post-title">{{title}}</h1>
						</div>
					</div>
				</div>
			</a>
			<section class="uh-post-excerpt">
				<p>{{excerpt words=150}} ...</p>
				<a class="uh-post-readMore" href="{{url}}">READ MORE</a>
			</section>
		</article>
	{{/foreach}}
</main>
