{{!< sidebar}}
<main id="uh-main" role="main">
    {{#post}}
        <article class="uh-post-tile" role="article" itemscope itemtype="http://schema.org/Article">
            <div class="uh-post-header" style="background-image: url({{image}})">
                <div class="uh-post-info">
                    <time class="uh-post-date" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">
                        {{date format='MMM DD, YYYY'}}
                    </time>
                    <h1 class="uh-post-title">{{title}}</h1>
                </div>
            </div>
            <section class="uh-post-excerpt">
                {{content}}
            </section>

            <!-- FB Comments -->
            <div class="fb-comments" data-href="http://uglyhelmet.com{{url}}" data-width="800" data-numposts="5"></div>
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=823823117738018";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
        </article>
    {{/post}}
</main>



            
