{{> header }}
<body class="{{body_class}}">
	<div id="uh-wrapper">
        <aside id="uh-sidebar">
            <div id="uh-sidebar-main">
                <header id="uh-sidebar-header">
                    <i class="fa fa-bars"> Uglyhelmet</i>
                </header>
                <section id="uh-sidebar-author">
                    <div id="uh-author-image">
                        <img src="{{posts.[0].author.image}}{{post.author.image}}" itemprop="image" />
                    </div>
                    <div id="uh-author-name">
                        {{posts.[0].author.name }}{{post.author.name}}
                    </div>
                    <div id="uh-author-bio">
                        {{posts.[0].author.bio}}{{post.author.bio}}
                    </div>
                    <div id="uh-author-links">
                        <h2>Connect</h2>
                        <a href="http://facebook.com/harryjohn671003">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                        <a href="http://instagram.com/uglyhelmet">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a href="http://github.com/harry671003">
                            <i class="fa fa-github-square"></i>
                        </a>
                    </div>
                </section>

            </div>
        </aside>
        

        <div class="post-list-uber">
            {{{body}}}
        </div>
	</div>
{{> footer }}